img {
    width: 450px;
    height: auto;
    border-radius: 1%;
    overflow: none;
  }
  
  #space{
    letter-spacing: 10px;
  }
  
  #floatLeft {
    float: left;
  }
  
  #topPad {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .jumbotron p{
    font-weight: 300;
    font-size: 20px;
   }


#card1{
    position: relative;
    height:500px;
    width:1000px;
    border-radius: 0px 5px 5px 5px;
    border-width: 1px;
  border-color: dark rgb(255, 0, 0);
  
  
  }

#card2{
    position: relative;
    height:500px;
    width:1000px;
    border-radius: 0px 5px 5px 5px;
}
#card3{
  position: relative;
  height:500px;
  width:1000px;
  border-radius: 0px 5px 5px 5px;

}

#card4{
  position: relative;
  height:500px;
  width:1000px;
  border-radius: 0px 5px 5px 5px;
  border-width: 5px;
  border-color: coral;


}
#img1{
    position: absolute;
    height:0px;
    width:0px;
}
.container{
    
    
    padding: 50px;
    
    
}

.btn-primary{

  border-radius: 5px 5px 0px 0px;
}

#item0{
  cursor: pointer;
}